<%= form_with(model: time_log, local: true) do |form| %>
  <% if time_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_log.errors.count, "error") %> prohibited this time_log from being saved:</h2>

      <ul>
        <% time_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.text_field :minutes %>
  </div>

  <div class="field">
      <%= form.label "Groups" %><br>
      <% @groups.each do |group| %>
        <span class="mr-2">
          <%= image_tag group.image, :size => "100x100" %>
          <%= form.check_box("groups", {:multiple => true}, group.id, nil) %>
          <label><%= h group.name -%></label><label>
         
        </span>
      <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
