<p id="notice"><%= notice %></p>

<h1>Time Logs</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Author</th>
      <th>Name</th>
      <th>Minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_logs.each do |time_log| %>
      <tr>
        <td><%= image_tag time_log.groups.first.image, :size => "100x100" %></td>
        <td><%= time_log.user.username %></td>
        <td><%= time_log.name %></td>
        <td><%= time_log.minutes %></td>
        <td><%= link_to 'Show', time_log %></td>
        <td><%= link_to 'Edit', edit_time_log_path(time_log) %></td>
        <td><%= link_to 'Destroy', time_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Log', new_time_log_path %>
