<div class="header">
  <div class="title_bar">
    <div class="">
      <%= image_tag "menu.png", :size => "28x28" %>
    </div>
    <div class="">
      <h1 class="page_title">My time Logs</h1>
    </div>
    <div class="">
      <%= image_tag "exit.png", :size => "28x28" %>
    </div>

  </div>
</div>

<div class="total_container">
  <div class="total_word">
    <span>Total</span>
  </div>


 <div class=total_number>
   <%= @total %>
 </div>
</div>

<p id="notice"><%= notice %></p>

<div class="logs_container">

</div>
<% @time_logs.each do |time_log| %>
  <div class="log">
   <div class="log_info">
     <div class="img">
       <% if !time_log.groups.first.nil? %>
       <%= image_tag time_log.groups.first.image, :size => "75x75" %>
     <% else %>
       <%= image_tag "no.png", :size => "100x100" %>
     <% end %>
     </div>
     <div class="info">
       <div class="name">
         <%= time_log.name %>
       </div>
       <div class="date">
         <%= time_log.created_at.strftime("%B %d, %Y") %>
       </div>
     </div>
   </div>

   <div class="time">
     <%= time_log.minutes %>
   </div>
  </div>
<% end %>




<%= link_to 'New Time Log', new_time_log_path %>
