<div class="contianer_profile">
  <div class="">
    <%= image_tag "journal.png", :class =>"center" %>
  </div>



  <% if user_signed_in? %>
      <h1 class="center"><%= current_user.username %></h1>


  <% end %>


 <ul class="link_list_profile center">
   <li><%= image_tag "logs.svg", :class =>"center" %><%= link_to "All my logs", time_logs_path, :class => 'navbar-link'  %></li>
   <li><%= image_tag "external.svg", :class =>"center" %><%= link_to "All my external logs", ext_logs_path, :class => 'navbar-link'  %></li>
   <li><%= image_tag "groups.svg", :class =>"center" %><%= link_to "All groups", groups_path, :class => 'navbar-link'  %></li>
   <li><%= image_tag "exit.svg", :class =>"center" %><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
 </ul>



</div>
