<div class="contianer_profile">
 <%= image_tag "journal.png", :class =>"center" %>


  <% if user_signed_in? %>
      <h1 class="center"><%= current_user.username %></h1>


  <% end %>


 <ul class="link_list_profile center">
   <li><%= image_tag "logs.png", :class =>"center" %><span class="list_text">All my logs</span></li>
   <li><%= image_tag "external.png", :class =>"center" %>All my external logs</li>
   <li><%= image_tag "groups.png", :class =>"center" %><%= link_to "All groups", groups_path, :class => 'navbar-link'  %></li>
   <li><%= image_tag "exit.png", :class =>"center" %><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
 </ul>



</div>
